In [1]:
import sklearn.metrics
from whatever.harness import Harness
import pandas as pd, sklearn.datasets as datasets, sklearn.metrics, sklearn.tree as toolbox

In [2]:
data = datasets.load_digits()
df = (
    Harness(data['data'], data['target'])
    .set_params(
        estimator=toolbox.DecisionTreeClassifier(),
        feature_level=-1,
    )
)

In [3]:
df.sample(len(df)//2).fit()
df.sample(2)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
9,0.0,1.0,10.0,13.0,9.0,2.0,0.0,0.0,0.0,2.0,...,11.0,0.0,0.0,0.0,11.0,16.0,16.0,14.0,3.0,0.0
0,0.0,0.0,9.0,13.0,16.0,5.0,0.0,0.0,0.0,3.0,...,8.0,0.0,0.0,0.0,8.0,12.0,13.0,15.0,2.0,0.0

# Confusion Matrix

In [4]:
pd.DataFrame(
    sklearn.metrics.confusion_matrix(df.index, df.predict()[0])
)

     0    1    2    3    4    5    6    7    8    9
0  174    0    0    0    1    0    0    0    2    1
1    0  159    2    3    6    2    0    2    2    6
2    0    0  164    3    0    1    1    0    4    4
3    0    0    5  162    0    1    1    2    9    3
4    2    2    0    0  173    1    0    1    1    1
5    0    2    1    1    2  166    3    1    5    1
6    0    4    3    0    1    2  170    1    0    0
7    0    0    0    6    2    0    1  164    6    0
8    1    3   12    4    3    2    1    1  145    2
9    0    2    0    3    1    1    0    5    8  160